.discountProducts {
  padding: 40px;
  font-family: 'Montserrat';
}

.title {
  font-size: 64px;
  font-weight: 700;
}

.containerdis {
  display: flex;
  align-items: center;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 10px;
  gap: 20px
}

.container {
  display: flex;
  justify-content: center;
}

.filters {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px 0;
  padding-left: 328px;
}

.filters label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  font-size: 20px;
}

.filters input[type="number"] {
  width: 80px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}

.filters input[type="checkbox"] {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
  accent-color: #339933;
  cursor: pointer;
}

.filters select {
  border-radius: 5px;
  border: 1px solid #DDDDDD;
  font-size: 14px;
  font-weight: 300;
}

.filters select {
  padding: 4px 8px;
  font-size: 14px;
}