.card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease;
  width: 316px;
  height: 422px;
}

.card:hover {
  transform: translateY(-4px);
}

.imageWrapper {
  position: relative;
  width: 316px;
  height: 284px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discountBadge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #339933;
  color: white;
  font-weight: bold;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 0.85rem;
}

.name {
  font-size: 1rem;
  margin: 10px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.priceBlock {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 10px;
}

.price {
  color: #282828;
  font-weight: bold;
  font-size: 1.1rem;
  font-weight: 600;
  font-size: 40px;

}

.oldPrice {
  text-decoration: line-through;
  color: #999;
  font-size: 0.95rem;
}

.button {
  position: absolute;
  bottom: 8px;
  left: 50%;
  width: 290px;
  height: 50px;
  transform: translateX(-50%);
  background-color: #339933;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.card:hover .button {
  opacity: 1;
  pointer-events: auto;
}

.button:hover {
  background-color: #000;
  color: white;
}

.name {
  text-decoration: none;
}